.flexbox-container {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.item1 {
  min-height:100px;  
}

.item2 {
  min-height:200px;
}

.item3 {
  min-height:300px;
}

